# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Virtualenvs
.venv/
venv/
env/

# Build artifacts
build/
dist/

# Editors/OS
.DS_Store
.idea/
.vscode/

# dbt artifacts
dbt_e2e/target/
logs/
.pytest_cache/
*/.pytest_cache/
dbt_e2e/.user.yml
